.idea/
.phpintel/
*.sublime-project
.DS_Store

node_modules/
/vendor/
/public/storage/
/public/modules/
/public/themes/
/Modules/*/Assets/
/Themes/*/assets/
/tags
lerna-debug.log
mix-manifest.json
npm-debug.log
yarn-error.log
*.map
.env
